#svn file
.svn/
*.pyc
.gclient_entries
#generate folder
Debug/
Release/
Purify/
#visual studio files
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sln
*.ncb
*.suo
*.user
*.ipch
*.obj
*.lib
*.pdb
*.sdf
#generate log file
*.log